html, body {
  height: 100%;
  width: 100%;
}

body {
  background: #000;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// LOGO

.logo-container {
  font-size: 5rem;
  font-family: 'Questrial';
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.occurred, .recalled .span-letter {
  text-shadow: 0 0 1px #FFF;
}

.occurred.expand, .recalled .span-letter.fade-in {
  text-shadow: 0 0 5px #FFF;
}

// OCCURRED

.occurred-container {
  overflow-x: hidden;
  margin-right: -25px;
  transform: translateY(-20px) skew(-20deg);
  padding-left: 35px;
}

.occurred {
  transition: all 0.8s;
  transform: translateX(100%) skew(20deg);
}

.occurred.expand {
  transform: translateX(-8%) skew(20deg);
}

// DIVIDE

.divide {
  overflow: visible;
  font-size: 10rem;
  z-index: 100;
  animation: 1s infinite alternate glowPulse;
}

// RECALLED
.recalled-container {
  transform: translateY(20px);
}

.recalled .span-letter {
  opacity: 0;
  transition: all 0.8s;
}

.recalled .span-letter.fade-in {
  opacity: 1;
}

@keyframes glowPulse {
  from {
    text-shadow: 0 0 10px #FFF;
  }

  to {
    text-shadow: 0 0 20px #FFF;
  }
}
